@model CountryViewModel
@{
    ViewData["Title"] = "Country Details";
}

<h2 class="text-center">Team Details</h2>

<div class="row">
    <div class="col-6 offset-3">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <img src="~/images/@Model.Country.photopath" alt="" />
                <h3>@Model.Country.Name</h3>
            </li>
            <li class="list-group-item">
                <h4>Conference: @Model.Country.Game.Name</h4>
            </li>
            <li class="list-group-item">
                <h4>Division: @Model.Country.Category.Name</h4>
            </li>
            <li class="list-group-item">
                <form asp-action="Add" method="post">
                    <a asp-action="Index" class="btn btn-primary"
                       asp-route-activeConf="@Model.ActiveGame"
                       asp-route-activeDiv="@Model.ActiveCat">Return to Home Page</a>
                    <button type="submit" class="btn btn-primary">
                        Add to Favorites
                    </button>
                    <input type="hidden" asp-for="Country.CountryId" />
                </form>
            </li>
        </ul>
    </div>
</div>
