
@{
    ViewBag.Title = "My Navigation Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container-fluid">
        <header class="jumbotron">
            <h1 class="text-center">
                <span class="text-capitalize">
                    <img src="~/images/student.png" >
                Atanga's Projects</span>
            </h1>

        </header>
        <form id="form" asp-action="Index" method="post">
           
            <table border="1">
                <tr>
                    <td>
                        <b>Assignments</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Home Page", "Index", "Home", new { area = "Home" }, null)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Movie List Application", "Index", "Home", new { area = "MovieList" }, null)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Administrator", "Index", "Home", new { area = "Admin" }, null)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Members", "Index", "Home", new { area = "Users" }, null)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Student List", "Index", "Home", new { area = "Assignments" }, null)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Olympic Games", "Index", "Home", new { area = "Olympic" }, null)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Rudimentary Ticketing System", "Index", "Home", new { area = "TicketSystem" }, null)
                    </td>
                </tr>
            </table>
        </form>
    </div>

