
@model List<AssignmentsAtanga.Areas.Assignments.Models.Student>
@{

    ViewBag.Title = "Students List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students List</h2>
<a asp-controller="Student" asp-action="Add">Add New Student</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Grade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Grade</td>
                <td>
                    <a asp-controller="Student" asp-action="Edit" asp-route-id="@student.StudentId" asp-route-slug="@student.Slug">Edit</a>
                    <a asp-controller="Student" asp-action="Delete" asp-route-id="@student.StudentId" asp-route-slug="@student.Slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


